body {
      background-image:url("login.jpeg");
      background-size: cover; 
      font-family: Arial, sans-serif;
    }

    .login-box {
      width: 350px;                  
      margin:  100px auto;            
      padding: 40px;
      border: 2px solid black;       
      border-radius: 40px;           
      background-color: white;       
    }
    label {
      display: block;      
         margin-top: 15px;
      font-weight: bold;
      text-align: left;     
    }

    input[type="text"],
    input[type="password"] {
      width: 95%;
      padding: 10px;
      margin-top: 5px;     
      border: 2px solid gray;
      border-radius: 5px;
    }

    input[type="submit"],
    input[type="reset"] {
      width: 45%;
      padding: 10px;
      margin: 20px 5px 10px 5px;
      font-size: 16px;
      border-radius: 5px;
      background-color:lightblue;
    }
    a {
      color: blue;
      text-decoration: none;
    }