body {
      background-image:url("register.jpeg");
      background-size: cover; 
      font-family: Arial, sans-serif;
    }

.register {
  width: 400px;
  margin: 50px auto;
  padding: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
}

p {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 14px;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: lightblue;
  border-radius: 5px;
  font-size: 16px;
  
}
