body {
      background-image:url("verify.jpeg");
      background-size: cover; 
      font-family: Arial, sans-serif;
    }
.success{
  text-align: center;      
  margin-top: 100px;      
  font-size: 22px;         
  font-weight: bold;      
  color: white;            
}
form {
  width: 350px;
  margin: 100px;
  padding: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  text-align: center;
}

p {
  font-weight: bold;
  margin: 15px 0 5px;
  text-align: left;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  background: lightblue;
  font-size: 16px;
}
